@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">All about dotnet core</h1>
    <a asp-action="Index" asp-controller="Posts">Go checkout the blog posts</a>
</div>
